* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  word-wrap: break-word;
  color: #39393e;
  font-size: .8125rem;
}

header {
  border-bottom: 1px solid #DEDEDF;
  margin-bottom: 3rem;
  min-width: 1000px;
  width: 100%;
  z-index: 100;
}

.header-container {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 1000px;
  padding: 0 1.5rem;
  width: 100%;
}

@media (min-width: 1248px) {
  .header-container {
    padding: 0;
  }
}

.header-item-container {
  padding: 1.25rem 0 .875rem;
  position: relative;
  z-index: 2;
}

.header-item-container {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
  height: 2.75rem;
  width: 8rem;
  margin-right: 2.25rem;
}

.logo svg {
  width: 100%;
  height: 100%;
}

.header-search {
  max-width: 500px;
}

.header-search-form {
  width: 100%;
}

form {
  display: flex;
  justify-content: space-between;

}

.search-input {
  padding: 8px 20px;
  border: 1px solid #d3d3d5;
  border-radius: 8px 0 0 8px;
  border-right: 0;
  color: #39393e;

  width: 100%;
  vertical-align: middle;
}

/* .clear-all {
  padding: 13px 10px;
  transform: translateX(-68px);
}

.clear-all svg {
  height: 14px;
  width: 14px;
  fill: currentColor;
} */

.search-submit {
  display: inline-block;
  background-color: #10567b;
  padding: 8px 20px;
  border: 0;
  border-radius: 0 8px 8px 0;
  width: 68px;
  color: #fff;
  line-height: 1;
  cursor: pointer;
  vertical-align: middle;
}

.search-submit svg {
  width: 24px;
  height: 24px;
  fill: currentColor;
}


.search-trend {
  margin: 6px 0 0;
  height: 18px;
  overflow: hidden;
}

.search-trend a {
  color: #39393e;
  text-decoration: none;
  display: inline-block;
  margin-right: 14px;
}

.right-section {
  margin-left: auto;
}

.right-section a {
  display: inline-block;
  color: #39393e;
  text-decoration: none;
  vertical-align: middle;
  padding: 6px;
  margin-left: 10px;
  font-size: .9rem;
}

.sign-up {
  display: inline-block;
  padding: 8px 10px;
  border: 1px solid #39393e;
  margin-left: 10px;
  border-radius: 3px;
}


.nav-list-container ul {
  display: flex;

}

.nav-list-container li {
  width: 11%;
  text-align: center;
}

.navigation-title {
  display: block;
  font-size: .9rem;
  text-align: center;
  padding: 1rem 0;
  text-decoration: none;
  color: #39393e;
}

main {
  margin: -20px auto 0;
  max-width: 1200px;
  min-width: 1000px;
  width: 100%;
}

.little-header {
  margin-bottom: 1.5rem;
}

.little-header a {
  color: #2e90b7;
  text-decoration: none;
}

.result-body {
  display: flex;
}

aside {
  width: 180px;
}

aside h2 {
  font-size: 1rem;
}

.recommend {
  margin: 6px 0 0 24px;
  font-size: 15px;
}

.recommend a {
  text-decoration: none;
  color: #66666a;
}

.white-space {
  height: 24px;
}

.content-container {
  padding: 10px 0;
}

.radio-group {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  font-size: 14px;
  line-height: 24px;
  margin-top: 6px;
}

.radio-group input {
  margin-top: 5px
}

.search-price {
  display: flex;
  align-items: center;
  gap: 3px;
}

.search-box {
  width: 100%;
  padding: 2px;

}

.arrow {
  padding: 4px 6px;
  border: 1px solid #10567b;
  border-radius: 4px;
  cursor: pointer;
  background: #10567b;
}

.arrow svg {
  vertical-align: middle;
  fill: white;
}

.showmore {
  padding: 4px 0;
  color: #2e90b7;
}

.size {
  display: flex;
}



.color-block-black {
  display: inline-block;
  padding: 10px;
  background-color: black;
  margin: 2%;
}

.color-block-white {
  display: inline-block;
  padding: 10px;
  background-color: white;
  border: 1px solid lightgray;
  box-sizing: border-box;
  margin: 2%;
}

.color-block-gray {
  display: inline-block;
  padding: 10px;
  background-color: gray;
  margin: 2%;
}

.color-block-cuch {
  display: inline-block;
  padding: 10px;
  background-color: #B5A780;
  margin: 2%;
}

.color-block-brown {
  display: inline-block;
  padding: 10px;
  background-color: #885418;
  margin: 2%;
}

.color-block-red {
  display: inline-block;
  padding: 10px;
  background-color: red;
  margin: 2%;
}

.color-block-orange {
  display: inline-block;
  padding: 10px;
  background-color: orange;
  margin: 2%;
}

.color-block-yellow {
  display: inline-block;
  padding: 10px;
  background-color: yellow;
  margin: 2%;
}

.color-block-green {
  display: inline-block;
  padding: 10px;
  background-color: green;
  margin: 2%;
}

.color-block-blue {
  display: inline-block;
  padding: 10px;
  background-color: blue;
  margin: 2%;
}

.color-block-pink {
  display: inline-block;
  padding: 10px;
  background-color: pink;
  margin: 2%;
}

.color-block-purple {
  display: inline-block;
  padding: 10px;
  background-color: purple;
  margin: 2%;
}

.color-block-gold {
  display: inline-block;
  padding: 10px;
  background-color: gold;
  margin: 2%;
}

.color-block-silver {
  display: inline-block;
  padding: 10px;
  background-color: silver;
  margin: 2%;
}

.color-block-transparent {
  display: inline-block;
  padding: 10px;
  background: url(/image/transparent-block.png);
  margin: 2%;
}

.color-block-multi {
  display: inline-block;
  padding: 10px;
  background: url(/image/multi-block.jpeg);
  margin: 2%;
}

.location-drop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #d3d3d5;
}


.shopping {
  width: 100%;
  margin-left: 2rem;
}

.shopping-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shopping-header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hot-button {
  border: 1px solid #D7D7D8;
  padding: .6rem;
}

.shopping-main {
  margin-top: 1.5rem;
}

.shopping-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.shopping-grid a {
  text-decoration: none;
}

.img-container {
  position: relative;
  transition: opacity .3s ease-in-out;
}

.img-container:hover {
  opacity: .6;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.badge-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.badge {
  color: white;
  padding: 3px;
  font-weight: 700;
}

.badge.free {
  background-color: #58A6C5;
}

.badge.sale {
  background-color: #F19D97;
}


.product {
  color: #39393e;
  font-size: 14px;
  height: 40px;
  margin-bottom: .3rem;
  overflow: hidden;
}

.company {
  margin: 6px 0;
}

.item-price span {
  color: #929295;
  text-decoration: line-through;
}

.feature-badge {
  height: 25px;
  margin-top: 6px;
}

.feature-badge span {
  color: #929295;
  border: 1px solid #D3D3D5;
  padding: 3px;
}

.pages-container {
  margin: 1.5rem 0;
}

.pages-container ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.pages-container li {
  padding: .5rem .8rem;
  border: 1px solid #929295;
}

.notification-container {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F7F7F8;
  padding: 1.3rem;
  border-radius: 3px;
}

.notification-container button {
  color: white;
  border: none;
  background-color: #064162;
  padding: .5rem;
  border-radius: 3px;
}

footer {
  background-color: #F7F7F8;
  margin-top: 3rem;
  padding: 3rem;
}

.footer-container {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 1000px;
  width: 100%;
}

.pinkoi-list {
  display: flex;

  border-bottom: 1px solid #E5E5E7;
}

.pinkoi-list a {
  text-decoration: none;
  color: #39393e;
}

.pinkoi-list a:hover {
  text-decoration: underline;
}

.pinkoi-list h3 {
  margin-bottom: .5rem;
}

.pinkoi-list ul:nth-child(-n+4) {
  flex: 1;
}

.pinkoi-list ul:last-child {
  flex: unset;
}

.pinkoi-list ul li {
  margin-bottom: .3rem;
}

.sns-list {
  display: flex;
  gap: 1rem;
}

.footer-link {
  margin-top: 1rem;
}

.download {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.download-button {
  background-color: #fff;
  padding: 10px 1rem;
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  gap: .5rem;
  min-width: 170px;
}



.download-button img {
  width: 1rem;
}

.download-button:hover {
  text-decoration: none !important;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.copyright-left {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.copyright-left p {
  margin-bottom: 2px;
}

.copyright-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.global {
  display: flex;
  align-items: center;
  gap: 1rem;
}